extends layout

block content
  .w3-card-4
    h1 欢迎 #{user.nickname}
    img(src=user.picture)
    h2 用户基本信息
    p 用户的基本信息 <code>req.user</code>.
    p 注意: <code>_raw</code> and <code>_json</code> 值被省略。
    pre
      code #{userProfile}
